<%- include('partials/header') %>

    <h1>Compose</h1>

    <p>
    <form action="/compose" method="post">
        <input type="text" name="postTitle" id="postTitle">
        <button type="submit" name="button">Publish</button>
    </form>
    </p>

    <%- include('partials/footer') %>